.footer {
  background-color: #242424;
  color: #efefef;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.footer p {
  font-size: 1.2rem;
  margin: 0;
}
