.custom-navbar {
  background-color: #242424;
  border-bottom: 2px solid #db454e;
}

.custom-btn {
  border: 1px solid #EF4523;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  padding: 0.4rem;
  transition: 0.3s;
}

.custom-btn:hover {
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  background-color: #EF4523;
  padding: 0.4rem;
}

.icon {
  font-size: 3rem;
  color: #ef4523;
}

.login-dropdown-item {
  cursor: pointer;
}

.login-dropdown-item:active,
.login-dropdown-item:visited,
.login-dropdown-item:link,
.login-dropdown-item:hover {
  cursor: default;
  color: #212529;
  background-color: #fff;
}

.logout-item:active {
  background-color: #db454e;
}
