.hero {
  padding-top: 150px;
  margin: 4rem;
}

.grid-wrapper {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: center;
}

.grid-item {
  flex-basis: 350px;
  background-color: #ef4523;
  padding: 0.25rem;
  /*height: 8rem;*/
  border-radius: 10px;
}

.grid-item article {
  padding: 1rem;
  height: 100%;
  border-radius: 10px;
}
