.hero {
  padding-top: 50px;
  margin: 4rem;
}

.grid-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  flex-basis: 350px;
  background-color: #db454e;
  padding: 0.25rem;
  border-radius: 10px;
}

.grid-item article {
  padding: 1rem;
  height: 100%;
  border-radius: 10px;
}
