@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

html, body {
  color: #f8f9fa !important;
}

.link {
  text-decoration: none;
}

.link:link, .link:visited {
  color: #db454e;
}

.link:hover {
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
